
.box{
  height: 250px;
  margin: 0 auto; 
}
.boxl{
  width: 50%;
  height: 90%;
  padding-right: 0px;
  border: 0;
}
.boxr{
  width: 50%;
  height:90%;
}
.box_inner{
   border: 0 solid #fef6e6;
  border-radius: 5px;
  height: 100%;
  padding: 0px;
  margin-bottom: 10px;
}
.box_inner h3{
  border-bottom:0 solid #fef6e6;
  line-height: 30px;
  font-size: 20px;
}
.box_inner .ih-item{
  width: 23%!important;
  margin: 15px 5px;
}
.box_inner .ih-item img{
  margin-top: 18px;
  width: 100%!important;
  height: 100%!important;
}
.intro{
    width: 550px;
    padding: 10px 0;
    margin: 0 0;
}
.intro_left{
    width: 550px;
    float: left;
    margin-bottom: 20px;
    margin-left: 60px;
}
.group{
    background: #fef6e6;
    padding: 20px;
    margin-top: 0px;
    position: relative;
    height: 200px;
    box-sizing: border-box;
}

.group h1{
    font-size: 20px;
    padding-bottom: 20px;
    border-bottom: 0 solid #d5d5d5;
    margin-top: 0;
    font-weight: normal;
}
.group p{
    margin-top: 5px;
    line-height: 20px;
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    font-size: 14px;
    color: #000000;
}
.group a{
    position: absolute;
    right: 30px;
    bottom: 30px;
    color: #b1599b;
    font-weight: 500;
    padding-right: 15px;
    box-sizing: border-box;
    font-size: 14px;
    cursor: pointer;
    line-height: 22px;
    border-bottom: 1px solid transparent;

}
.group a:after{
    content: "";
    width: 6px;
    height: 6px;
    display: inline-block;
    position: absolute;
    bottom: 7px;
    right: 6px;
    border: solid #e71f19;
    border-width: 1px 0 0 1px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}
.group a:hover{
   border-bottom: 1px solid #e71f19;
}
.group:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-top:20px solid #b1599b;
    border-right: 20px solid transparent;
}
.our-grid p{
    text-indent: 2em;
    line-height: 25px;
    margin-bottom: 10px;
    font-size: 16px;
}