.box{
  height: auto;
  margin: 0 auto; 
}
.boxl{
  width: 100%;
  height: 90%;
  padding-right: 0px;
  border: 0;
}
.box_inner .ih-item{
  width: 15.66667%!important;
  margin: 15px 5px;
}
.ct_search {
    margin: -16px 0;
    float: right;
}

.ct_search .search {
    float: left;
    position: relative;
}

.ct_search .search label {
    margin-right: 10px;
    font-weight: 700;
}

.ct_search .search input {
    width: 255px;
    padding: 15px;
    box-sizing: border-box;
    height: 25px;
    border: 1px solid #ebebeb;
    font-size: 14px;
}

.ct_search .search img {
    position: absolute;
    top: 50%;
    margin-top: -12px;
    right: 15px;
    cursor: pointer;
}